@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.header {
  //   width: 100%;
  background: #6a2b;
  height: 50px;
  text-align: center;
  p {
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: "Fredoka One", cursive;
  }
}

// @media (min-width: 0px) and (max-width: 786px) {
//   .header {

//   }
// }
