<div class="row mt-2">
  <div class="col-lg-6">
    <div class="card mt-3">
      <div class="card-body">
        <!-- <h2 class="name">CONTACT</h2> -->
        <p><b>Skills...</b></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="details-holder">
      <div class="details">
        <p class="dd">
          <b>Angular 7+</b>
          I started my career with an internship in Angular 7 and then growing
          presently till Angular 14.I had a great time working with
          Angular,discovering its new features with every updates and also as
          per my project requirement.Just love the innovation.
        </p>
        <p class="dd">
          <b>Css,Scss,Bootstrap</b>
        While working with Angular,my pages were designed by my designers,I just loved the way they work and started learning from their code.Learning css was so much interactive ,then scss was a bit more structured,tried it and then bootstrap.Ah!What a way to make resposive pages.Just started to work with such things.
        </p>
      </div>
    </div>
  </div>
</div>
