<div class="row mt-2">
  <div class="col-lg-6">
    <div class="details-holder">
      <div class="details">
          <i>After completing my schooling from a reputated covent school at Siliguri I moved to ...</i>
        <p class="dd">
          <b>Bachelor in Computer Application,2014</b><br />
          Techno India (Siliguri Institute of Technology),Siliguri<br />DGPA
          8.02
        </p>
        <p class="dd">
          <b>Master of Science in Information Science,2017</b><br />
          Techno India Hooghly,Hooghly<br />DGPA 8.93
        </p>
        <p class="dd">
          <b>Master of Computer Application,2020</b><br />
          Techno India Hooghly,Hooghly<br />DGPA 8.92
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mt-3">
      <div class="card-body">
        <!-- <h2 class="name">CONTACT</h2> -->
        <p><b>Education...</b></p>
      </div>
    </div>
  </div>
</div>
