<div class="container">
  <div class="name-section">
    <h3 class="name">Siladitya Datta</h3>
    <p class="designation">Angular Developer</p>
    <p class="profile">
      Innovative angular developer with 1 year 6 months experience.Have worked
      on projects releated to CRM and food delivery services.Excited to join TCS
      so as to explore its amazing work culture and learn industry standard
      application developement from the experienced hierarchy.
    </p>
  </div>
  <div class="row">
    <div class="col-lg-4 left_margin"></div>
    <div class="col-lg-8 right_margin"></div>
  </div>
  <div class="row">
    <div class="col-lg-4 left_segment">
      <!-- image section  -->
      <div class="image">
        <img src="assets/images/profile_pics/d.jpg" />
      </div>
      <!-- contact section  -->
      <div class="contacts">
        <div class="heading">
          <span class="glyphicon glyphicon-user"></span>&nbsp;<b>Contact</b>
        </div>
        <hr />
        <b class="dd">Address:</b>
        <i
          >22,Raja Ram Mohan Roy Road,Hakimpara,Siliguri,Darjeeling,West
          Bengal,India</i
        >
        <b class="dd">Phone:</b>
        <i>+91 7076977210</i>
        <b class="dd">Email:</b>
        <i>siladityadatta@gmail.com</i>
        <b class="dd">LinkedIn:</b>
        <i> https://www.linkedin.com/in/siladityadatta21/</i>
      </div>
      <!-- skills section  -->
      <div class="skills">
        <div class="heading">
          <span class="glyphicon glyphicon-list-alt"></span>&nbsp;<b>Skills</b>
        </div>
        <hr />
        <i class="dd">Angular</i>
        <i class="dd">HTML</i>
        <i class="dd">CSS</i>
      </div>
      <!-- interests section  -->
      <div class="skills">
        <div class="heading">
          <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;<b
            >Interests</b
          >
        </div>
        <hr />
        <i class="dd">Googling</i>
        <i class="dd">Thinking</i>
        <i class="dd">Biking</i>
        <i class="dd">Coding</i>
      </div>
    </div>
    <div class="col-lg-8 right_segment">
      <!-- education section  -->
      <div class="contacts">
        <div class="heading">
          <span class="glyphicon glyphicon-education"></span>&nbsp;<b
            >Education</b
          >
        </div>
        <hr />
        <b class="dd">10th std &nbsp;(2008)</b>
        <i>DonBosco School,Siliguri</i>
        <b class="dd">12th std&nbsp;(2011)</b>
        <i>Kalyani Central Model School,Kalyani</i>
        <b class="dd">Bachelor in Computer Application&nbsp;(2014)</b>
        <i>Siliguri Institute of Technology,Siliguri </i>
        <b class="dd">MSc in Information Science&nbsp;(2017)</b>
        <i>Techno India Hooghly,Hooghly</i>
        <b class="dd">Master in Computer Application&nbsp;(2020)</b>
        <i>Techno India Hooghly,Hooghly</i>
      </div>
      <!-- internship section  -->
      <div class="contacts">
        <div class="heading">
          <span class="glyphicon glyphicon-book"></span>&nbsp;<b>Internship</b>
        </div>
        <hr />
        <b class="dd">Influx IQ ,Kalyani&nbsp;(July,2019 - February,2020)</b>
        <i>
          Worked on different libraries for different phases of multiple Angular
          7 websites.The libraries included blogs,testimonials,feedback etc.Also
          worked on an online medical instrument dealing website.</i
        >
      </div>
      <!-- experience section  -->
      <div class="contacts">
        <div class="heading">
          <span class="glyphicon glyphicon-th-list"></span>&nbsp;<b
            >Experience</b
          >
        </div>
        <hr />
        <b class="dd">Utahtechlabs, Kolkata&nbsp;(December,2020 - present)</b>
        <i>
          Worked for different teams.Have served under various managers.Working
          for my prior team I have managed 3 projects single handedly.A taxi
          admin website (BUKLUP), A nurse-doctor-patient-equipment management
          website (EWMSIT) and partially ,a domain-management website.<br />Wroking
          for another team now I am involved in an online food delivery
          organization ,development and maintainance job.(Cravable and Apium)</i
        >
      </div>
      <!-- my work section  -->
      <div class="contacts">
        <div class="heading">
          <span class="glyphicon glyphicon-briefcase"></span>&nbsp;<b
            >My Work</b
          >
        </div>
        <hr />

        <i>
          A CRM website, the UI made by me and angular 13 coding involved.I had
          also developed a knack for <u>css,bootstrap,scss</u> over last year by
          watching my fellow designers.So straighaway I decided to put it into
          implementation in my own way using Angular Material.And as we are in
          an agile process so we are proceeding as per the requirement that
          involves a lot of learning.</i
        >
      </div>
    </div>
  </div>
</div>
