<div class="abt-me-con">
  <div class="card">
    <div class="card-body">
      <p>
        Diligent software engineer with 5+ years experience in commercial
        application development. Eager to join Cyclone Inc. to build innovative
        and cutting edge business solutions for the impressive suite of clients
        within its global reach. In previous roles, slashed downtime by 25% and
        ensured 98% on-time project completion. Also identified and dealt with a
        significant process bottleneck that boosted coding efficiency by 35%
        when resolved.
      </p>
    </div>
  </div>
</div>
