<div class="row mt-2">
  <div class="col-lg-6">
    <div class="details-holder">
      <div class="details">
        <p class="dd">
          <b>Address:</b>
          22,Raja Ram Mohan Roy Road,Hakimpara,Siliguri,Darjeeling,West
          Bengal,India
        </p>

        <p class="dd"><b>Phone:</b> +91 7076977210</p>
        <p class="dd"><b>Email:</b> siladityadatta@gmail.com</p>
        <p class="dd">
          <b>LinkedIn:</b> https://www.linkedin.com/in/siladityadatta21/
        </p>
        <p class="dd"><b>Facebook:</b>https://www.facebook.com/siladitya21</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mt-3">
      <div class="card-body">
        <p><b>Contact Details...</b></p>
      </div>
    </div>
  </div>
</div>
