@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.cover {
  width: 100%;
  height: 1000px;
  max-width: 100%;
  max-height: 100%;
  position: relative;

  img {
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    filter: brightness(0.5);
  }
}
.cover-q {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: aliceblue;
  font-family: "Satisfy", cursive;
  width: inherit;
  width: 800px;
}

@media (min-width: 0px) and (max-width: 786px) {
  .cover-q {
    margin-top: 100px;
    max-width: 300px;
  }
}
.image-holder {
  width: 100%;
  height: 500px;
  padding: 20px;
  text-align: center;

  img {
    width: 60%;
    height: 450px;
    margin: 0 auto;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 20px rgba(102, 120, 34, 1);
  }
}

.image-holder:hover {
  img {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgb(120, 34, 34);
  }
}
