<app-header></app-header>

<div class="cover">
  <img src="assets/images/cover/stng.jpg" />
  <div class="cover-q">
    We must find positivity in the bleakest situations and live by the principle
    of gratitude.
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-6">
    <div class="image-holder">
      <img src="assets/images/profile_pics/a.jpg" />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mt-3">
      <div class="card-body">
        <h2 class="name">SILADITYA DATTA</h2>
        <p><b>Angular Developer</b></p>
      </div>
    </div>
  </div>
</div>
<div>
  <app-about-me></app-about-me>
</div>
<div>
  <app-contact></app-contact>
</div>
<div class="divider"></div>
<div>
  <app-skills></app-skills>
</div>
<div class="divider"></div>
<div>
  <app-education></app-education>
</div>
<div class="divider"></div>
<div>
  <app-experience></app-experience>
</div>
<app-footer></app-footer>
