@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap");
.details-holder {
  width: 100%;
  height: 500px;
  padding: 20px;
  text-align: center;

  .details {
    i {
      font-size: 15px;
    }
    font-family: "Karla", sans-serif;
    width: 60%;
    height: 450px;
    margin: 0 auto;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 20px rgba(102, 120, 34, 1);
    padding: 30px;
    overflow: auto;
    .dd {
      text-align: left;
      font-size: 20px;
      /* width: 351px; */
      line-break: anywhere;

      b {
        color: #6a2b;
      }
    }
  }
}

.details-holder:hover {
  .details {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgb(120, 34, 34);
  }
}

.card {
  background-color: rgba(
    185,
    226,
    144,
    0.733
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to bottom right,
    rgba(170, 246, 77, 0.733),
    rgb(230, 251, 229)
  );
  width: 600px;
  height: 450px;
  margin: 0 auto;
  text-align: center;
  p {
    margin-top: 200px;
    font-family: "Lobster", cursive;
    font-size: 40px;
    color: #6a2b;
  }
}

.name {
  color: #6a2b;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  margin-top: 90px;
}
@media (min-width: 0px) and (max-width: 786px) {
  .card {
    width: 100%;
  }
}

.divider {
  background-color: rgba(
    185,
    226,
    144,
    0.733
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to bottom right,
    rgba(170, 246, 77, 0.733),
    rgb(230, 251, 229)
  );
  height: 300px;
}

.video-con {
  width: fit-content;

  display: flex;
  padding: 30px;
  margin: 0 auto;
  .video {
    border: 1px solid #6a2b;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
  }
}

@media (min-width: 0px) and (max-width: 786px) {
  .video-con {
    display: inline-block;
    
    
    .video {
      margin-left: 0px;
    }
  }
}
